body {
    padding:0;
    margin:0;
    background-color: #d3d3d3;
}

#navopacity{
	background-color: transparent;
	border:none;
}

.navbar-default .navbar-brand{
	color: #FFFFFF;
}

#logo{
	width: 150px;
}

.header-container{
	width: 100%;
	height: 700px;
	border-left: none;
	border-right: none;
	position: relative;
	padding: 20px;
}

.video-container{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;

}

video {
	position: absolute;
	z-index: -1;
	opacity: 0.99;
	width: 100%;

}

/*#shade{
	background-color: #000000;
	width: 100%;
	height: 250px;
	margin-top: 500px;
	opacity: 0.8;
	z-index: 1;
}*/

#shadetext{
	color: #FFFFFF;
	z-index: 1;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40%;
	font-size: 35px;
	text-shadow: 1px 1px 3px black;
}


#message{
	background-color: #d3d3d3;
	text-align: left;
	font-size: 15px;
}

#message-heading{
	text-align: center;
}


#about-heading{
	text-align: center;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*.address-wood-bg {
	background: url("imageresources/wood-pattern.jpg") repeat center;
	background-color: black;
	width: 100%;
	color: white;
	text-align: center;
}

.banner-blue-bg {
	background: url("imageresources/banner-top-bg.png") repeat center;
	background-color: black;
	width: 100%;
}

.banner-letter {
	font-family: 'Bitter' serif;
	color: white;
	text-shadow: 1px 1px 1px #555;
	text-align: left;
}

#contact-form {
	padding: 10px;
	margin: 10px;
}

#contact-us-heading {
	color: white;
	text-align: center;
	font-family: 'Bitter' serif;
	text-shadow: 0px 1px 1px #555;
	font-size: 3em;
}

.control-label {
	color: white;
}*/

#contact-heading{
	text-align: center;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*contact css*/
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
	position: relative;
	margin-left: 160px;
	margin-bottom: 70px;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 310px;
	max-width: 310px;
	max-height: 310px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background:         linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	        transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	        transition:         transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	        transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	        transition: opacity 0.35s,         transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	        transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	        transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	        transform: translate3d(0,0,0);
}



.footer{
	background-color: #000000;
	height: 300px;
}

.follow-text{
	margin-top: 30px;
	text-align: center;
	color: #FFFFFF;
	font-size: 15px;
}

#social-icons{
	margin-top: 40%;
	display: inline;
	margin-left: 45%;
	position: relative;
}

#fb{
	width: 40px;
	height: 40px;
}

#twitter{
	width: 40px;
	height: 40px;
}

#insta{
	width: 40px;
	height: 40px;
}

#dash{
	text-align: center;
	margin-top: 20px;
}

#copyright-text{
	color: #FFFFFF;
 	text-align: right;

}

#footer-quark-logo{
	width: 150px;
	margin-left: 45%;
}
















